/* Fonts ------------------------------------------------- */

@font-face  {
  font-family: 'Font Name';
  src: url('./fonts/font-name.eot');
  src: url('./fonts/font-name.eot?#iefix') format('embedded-opentype'),
       url('./fonts/font-name.woff2') format('woff2'),
       url('./fonts/font-name.woff') format('woff'),
       url('./fonts/font-name.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  }
  
  
  /* Overall / Resets -------------------------------------- */
  
  html  {
    margin: 0;
    padding: 0;
  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }
  
  body  {
    margin: 0;
    padding: 0;
    height: auto;   
    width: 100vw;     
  }
  
  *   { 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  h1, h2, h3, h4, h5, h5, p, a {
    margin: 0;
  }
  
  /* unvisited link */
  a:link {
    margin: 0;
    color: black;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: black;
  }
  
  /* mouse over link */
  a:hover {
    color: blue;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }
  
  
  /* Actual Styling ------------------------------------------------ */
  
  body {
    padding: 10px;
    height: auto;
    overflow-y: scroll;
    position: relative;
  }
  
  div {
    width: 240px;
    height: 120px;
    background-color: lightgray;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid hsl(0, 0%, 0%);
  
  }
