/* Fonts */
/* ------------------------------------------------- */

@font-face  {
font-family: 'Font Name';
src: url('./fonts/font-name.eot');
src: url('./fonts/font-name.eot?#iefix') format('embedded-opentype'),
     url('./fonts/font-name.woff2') format('woff2'),
     url('./fonts/font-name.woff') format('woff'),
     url('./fonts/font-name.ttf') format('truetype');
font-style: normal;
font-weight: normal;
}


/* CSS Resets */
/* ------------------------------------------------- */

#btn1 {
  background-color:rgb(141, 189, 224);
 }
 
 #btn2 {
     background-color:rgb(141, 189, 224) ;
 }
 
 #div1 {
     width: 630px;
     height: 400px;
     background-color:rgb(141, 189, 224);
     display: none;
     margin-left:55%;
     text-align: center;
     position: absolute;
     
  
 }
 
 #div2 {
     width: 100%;
     height: 300px;
     background-color:rgb(141, 189, 224);
     display: block;
     /* visibility: hidden; */
     text-align: center;
     margin-top: 40%;
     position: relative;
 }